body {
    background: linear-gradient(135deg, #93D9F7, #dff7ff);
}

.download-card {
    max-width: 450px;
    border-radius: 20px;
}

.download-icon {
    font-size: 60px;
}

.download-btn {
    border-radius: 12px;
    padding: 12px;
    font-weight: bold;
}
